@page "/forum/{ForumName}"
@using WebService.Dtos.CommandDtos
@inject IForumService ForumService;
@inject NavigationManager Navigation
@inject UserSessionService Session
@inject ISubscriptionService SubscriptionService

<div class="content-wrapper forum-header">
    @if (Forum is not null)
    {
        <h3>@Forum.ForumName</h3>
        <h6>@Forum.Content</h6>
    }
</div>
<div class="button-header">
    @if (Forum is not null)
    {
        <div class="custom-button">
            <button type="createpost" @onclick="NavigateToCreatePost" class="btn btn-primary">Create a post</button>
            @if (Session.SubscribedForumIds.Any(sfid => sfid == Forum?.Id))
            {
                <button @onclick="UnSubscribeFromForum" class="btn btn-secondary">Unsubscribe</button>

            }
            else
            {
                <button @onclick="SubscribeToForum" class="btn btn-primary">Subscribe</button>
            }
        </div>
    }
</div>

<div class="content-wrapper">
    @if (Forum is not null)
    {
        @if (Forum?.Posts is not null && Forum.Posts.Count != 0)
        {
            foreach (var post in Forum.Posts)
            {
                <div class="post-wrapper">
                    <ShortPostComponent Post="post" ForumName="@Forum.ForumName" ForumId="@Forum.Id" OnDeleted="HandlePostDeleted"/>
                </div>
            }
        }
    }
    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <div class="alert alert-info">@ErrorMessage</div>
    }
</div>

@code {
    [Parameter] 
    public string ForumName { get; set; } = string.Empty;

    public string ErrorMessage { get; set; } = string.Empty;

    public ForumView? Forum { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        ErrorMessage = string.Empty;

        await Session.WaitUntilReadyAsync();

        Forum = await ForumService.GetForumWithPostsShort(ForumName);
        if (Forum == null)
        {
            ErrorMessage = "Forum not found";
        }
        else if (Forum.Posts.Count == 0)
        {
            ErrorMessage = "Forum doesn't have any posts";
        }
    }

    private async void NavigateToCreatePost()
    {
        Navigation.NavigateTo($"/forum/{ForumName}/{Forum.Id}/post/create");
    }

    private async Task SubscribeToForum()
    {
        try
        {
            Session.AddForumSubscription(Forum.Id);
            var createSubDto = new CreateSubDto(Forum.Id);
            await SubscriptionService.CreateSubscription(createSubDto);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            ErrorMessage = ex.Message;
            Session.RemoveForumSubscription(Forum.Id);
        }
    }

    private async Task UnSubscribeFromForum()
    {
        try
        {
            Session.RemoveForumSubscription(Forum.Id);
            await SubscriptionService.DeleteSubscription(Forum.Id);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            ErrorMessage = ex.Message;
            Session.AddForumSubscription(Forum.Id);
        }
    }

    private void HandlePostDeleted(int postId)
    {
        Forum?.Posts.RemoveAll(p => p.Id == postId);
    }
}

<style>
.post-wrapper{
    box-shadow: 3px 3px 10px 0px rgba(150, 150, 150, 0.5);
    margin-bottom: 10px;
}
.content-wrapper{
    max-width: 900px;
    position: relative;
    margin: 0 auto;
    padding: 1rem;
    box-shadow: 3px 3px 10px 0px rgba(150, 150, 150, 0.5);
    background-color: white;
}

.forum-header{
    font-family: sans-serif;
    text-align: center;
    margin-top: 12px;
}

.forum-header h3{
    margin-bottom: 4px;
}

.forum-header h6{
    
}

.button-header{
    max-width: 900px;
    margin: 0 auto;
}

.custom-button{
    display: flex;
    margin-bottom: 12px;
    margin-top: 12px;
    justify-content: space-between;
}

</style>
